<div class="container-fluid header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" placeholder="Search..."> 
                    <i class="fas fa-search search-icon"></i> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pd">
        <div class="col-md-2" *ngFor="let continent of countriesData">
            <div *ngIf="continent.continent !== '' ">
                <h4 class="text-center">{{continent.continent}}</h4>
                <ul>
                    <li *ngFor="let countrie of continent.countries  | filter:searchText" (click)="open(content, countrie)"> 
                        <img [src]="countrie.flag" class="flag">
                        {{ countrie.name }} 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-md-8">
                <h4 class="title-modal">{{countrieData.name}}  
                    <i class="fas fa-star active" (click)="removeFavorite( countrieData )" *ngIf="favorit"></i>
                    <i class="far fa-star" (click)="addFavorite( countrieData )" *ngIf="!favorit"></i> 
                </h4>
                <p><strong>Region:</strong>{{countrieData.region}}
                <strong>Population:</strong>{{countrieData.population}}<br>
                <strong>Capital:</strong>{{countrieData.capital}}<br>

                <strong>Currency:</strong><span *ngFor="let currency of countrieData.currencies"> {{currency.name}}, </span><br>

                <strong>Language:</strong><span *ngFor="let lang of countrieData.languages"> {{lang.name}}, </span><br>
                <strong>Border countries:</strong><span *ngFor="let border of countrieData.borders"> {{border}}, </span></p>
            </div>
            <div class="col-md-4">
                <img [src]="countrieData.flag" class="flag-modal">
            </div>
        </div>
        
    </div>
</ng-template>
  

  