*{
    color: #4b4b4b;
}

.header{
    background: #373737;
    color: #fff;
    padding: 30px 0px;
}

.search-icon{
    position: absolute;
    color: #333;
    right: 25px;
    font-size: 17px;
    top: 9px;
}

.pd{
    padding: 50px 0px;
}

.flag{
    width: 18px;
}

ul{
    list-style-type: none;
  
}

ul li{
    margin: 3px 0px;
    cursor: pointer;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.flag-modal{
    width: 100%;
    margin-top: 30px;
}

.title-modal{
    margin: 30px 0px;
}
